#tabbar {
  counter-reset: vtabs atabs tabs;
  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}
tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}
tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}
tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}
tab-item {
  counter-increment: tabs;
}

/* Show title of unread tabs with red and italic font */
/*
tab-item.unread .label-content {
  color: red !important;
  font-style: italic !important;
}
*/

/* Add private browsing indicator per tab */
/*
tab-item.private-browsing tab-label:before {
  content: "🕶";
}
*/

tab-item {
  --tab-size: 40px !important;
  height: var(--tab-size);
}

.contextual-identity-marker {
  position: absolute !important;
  pointer-events: none;Full Auto-show/hide Theme
  z-index: 0;
  
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  
  width: unset !important;
  height: unset !important;  
    
  opacity: 0.8;

  top: auto !important;
  left: 0.5em !important;
  right: 0.5em !important;
  bottom: 0 !important;
  width: auto !important;
  max-width: none !important;
  height: calc(var(--favicon-size) / 10) !important;
}

.newtab-button::after {
  --tab-count-text: counter(atabs) "/" counter(tabs) " tabs";
  content: var(--tab-count-text);
  pointer-events: none;
    
  position: absolute;
  right: 2em;
  top: 2px;

  /* TST 2.4.0 - Fix for Issue #1664 */
  background: transparent !important;
  mask: none !important;
}

#tabbar tab-item:not(:hover) tab-closebox {
  display: none;
}

.newtab-button {
  text-align: left;
}